@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --background: #FAFAFA;
    --main-color: #008583;
    --second-color: linear-gradient(90deg, #F7A813 8.05%, #FAA70B 48.77%, #FFA700 95.89%);
    --text: #1D2829;
    --header: #E4EBEC;
}

@media(max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

body {
    background: var(--background);
    color: var(--text);
    font-family: 'Nunito Sans', sans-serif;
}

body, input, textarea, button {
    font: 400 1rem "Nunito Sans", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.callToAction {
    width: 21.25rem;
    height: 3.75rem;
    border-radius: 4px;
    background: var(--second-color);
    border: none;

    font-size: 1.5rem;
    color: var(--white);
    font-weight: bold;

    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding: 10px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    padding: 10px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    padding: 10px;
  }
  :-moz-placeholder { /* Firefox 18- */
    padding: 10px;
  }